.loginbtn:hover {
  background-color: rgb(255, 117, 101);
}
.m-t {
  cursor: "pointer";
  margin-left: 10%;
  width: 80%;
  height: 50;
  margin-top: -4%;
}
.Welcome {
  line-height: 40px;
  letter-spacing: 0.96px;
  font-style: normal;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  margin-left: 6px;
  margin-bottom: -24%;
}

@media only screen and (max-width: 768px) {
  .mobile-view-top {
    height: 50vh;
  }
  .mob-img2 {
    margin-top: 6%;
    width: 100%;
    margin-left: 0px;
  }

  .wl {
    margin-top: 10%;
  }

  .logo-1 {
    width: 70%;
    margin-bottom: -20%;
  }
  .mobile-view-bottom {
    height: 50vh;
    margin-top: 108%;
    margin-left: -100%;
  }
  .log-in {
    margin-left: -33%;
    margin-top: 0%;
  }
  .tex-t {
    margin-left: -13%;
    margin-top: -8px;
  }
  .forgot {
    margin-right: 32%;
    margin-top: -4px;
  }
}
